/* Root styles */
:root {
  font-family: "Roboto", sans-serif;
  --primary-color: rgba(
    30,
    39,
    46,
    0.8
  ); /* Semi-transparent for a sleek effect */
  --highlight-gradient: linear-gradient(
    135deg,
    #ff9a9e,
    #faaf9a,
    #d743ad,
    #530df7
  );
  --blur-background: rgba(255, 255, 255, 0.2);
  --text-color: #ffffff;
  --hover-scale: 1.2;
  --transition-speed: 0.3s;
  --nav-height: 100px; /* Dynamic height for the fixed navigation bar */
}

html {
  scroll-behavior: smooth;
  scroll-margin-top: 100px;
}

body {
  margin: 0;
  background: linear-gradient(135deg, #ff9a9e, #fad0c4, #fbc2eb, #9975ed);
  background-size: 300% 300%;
  animation: gradientShift 6s ease infinite;
}

section {
  scroll-margin-top: var(
    --nav-height
  ); /* Automatically accounts for the navigation bar's height */
}

/* Navigation bar */
.navigation {
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  background-color: var(--primary-color);
  backdrop-filter: blur(10px); /* Glass effect */
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3); /* Add depth */
  transition: background-color 0.5s ease, height var(--transition-speed);
}

.navigation:hover {
  background-color: rgba(30, 39, 46, 0.9); /* Slightly darker on hover */
}

.navigation ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  justify-content: space-between;
  width: 80%;
  max-width: 1200px;
}

.navigation ul li {
  position: relative;
  padding: 8px 20px;
  border-radius: 8px;
  transition: transform var(--transition-speed);
  background: var(--transition-speed), box-shadow var(--transition-speed);
  cursor: pointer;
  overflow: hidden;
}

.navigation ul li:hover {
  background: var(--highlight-gradient);
  transform: scale(1.05); /* Enlarges item */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  color: var(--text-color);
}

.navigation ul li:active {
  transform: scale(1.1); /* Slight bounce effect when clicked */
}

.navigation ul li a {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: var(--text-color);
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  transition: color var(--transition-speed);
}

.navigation ul li a:hover {
  color: #ffffff;
}

/* Icon styles */
.navigation ul li .icon {
  font-size: 20px;
  color: inherit;
  transition: transform var(--transition-speed);
}

.navigation ul li:hover .icon {
  transform: rotate(360deg); /* Adds a spinning effect to the icon */
}

/* Mobile responsiveness */
@media (max-width: 768px) {
  .navigation ul {
    flex-direction: column;
    position: fixed;
    top: 70px;
    left: 0;
    background-color: var(--primary-color);
    width: 100%;
    padding: 10px 0;
    transform: translateY(-100%);
    transition: transform 0.5s ease-in-out;
  }

  .navigation ul.open {
    transform: translateY(0);
  }

  .navigation ul li {
    width: 100%;
    text-align: center;
    margin: 5px 0;
  }

  .navigation ul li a {
    font-size: 18px;
  }
}

/* Mobile menu toggle button */
.menu-toggle {
  display: none;
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
  z-index: 1100;
}

.menu-toggle .bar {
  display: block;
  width: 25px;
  height: 3px;
  background: var(--text-color);
  margin: 5px 0;
  transition: transform 0.3s ease;
}

@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }
}

/* Footer */
.footer {
  background-color: #1e272e;
  border: 2px white solid;
  color: #ffffff; /* White text */
  padding-left: 10px;
  width: 100%;
  height: 30px;
  background-color: #1e272e;
  display: flex;
  justify-content: left;
  align-items: center;
  text-align: center;
}

/* Profile Stuff */
.portfolio-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 70px; /* Space between the image and description */
  padding: 30px 20px;
  background-color: #1e272e;
  border: 2px white solid;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  max-width: 1200px;
  margin: 20px auto;
  border-radius: 10px;
  margin-top: 100px;
  flex-wrap: wrap; /* Ensure it wraps for smaller screens */
}

.portfolio-picture {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center image for smaller screens */
  justify-content: center;
  padding: 20px;
  background-color: #1e272e;
}

.portfolio-heading {
  color: white;
  font-weight: bold;
  font-size: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  max-width: 1200px;
  margin: 20px auto;
  text-shadow: 7px 7px 5px rgba(130, 123, 123, 0.5); /* Horizontal offset, vertical offset, blur radius, color */
  border-right: 2px solid #fff;
  white-space: nowrap;
  display: inline-block;
  animation: blink 2s step-end infinite;
  max-width: 100%;
}

.portfolio-heading-info {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: right;
  justify-content: center;
}

.profile-image {
  width: 300px; /* Set a fixed width */
  height: 300px; /* Set a fixed height */
  object-fit: cover; /* Crop image if needed */
  border-radius: 50%; /* Makes the image circular */
  border: 3px white solid;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); /* Glow effect */
  transition: transform 0.3s ease; /* Add a hover effect */
  animation: glow 10s linear infinite;
}

.profile-image:hover {
  transform: scale(1.1); /* Slightly enlarges on hover */
}

.portfolio-description {
  max-width: 700px; /* Limit width of the text block */
  color: #ffffff; /* Text color */
  font-size: 1rem; /* Font size for the description */
  line-height: 1.5; /* Line height for better readability */
}

/* Resume Button */
.resume-button {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  text-decoration: none;
  background: linear-gradient(
    135deg,
    #ff9a9e,
    #d743ad,
    #530df7,
    #0efacb
  ); /* Cotton candy gradient */
  background-size: 300% 300%; /* Creates a smooth animated gradient */
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Subtle shadow */
  animation: gradientShift 10s ease infinite; /* Smooth gradient animation */
  border-radius: 25px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Subtle shadow */
  text-align: center;
  border: 2px white solid;
}

.resume-button:hover {
  transform: scale(1.1); /* Slightly enlarges on hover */
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3); /* Enhanced shadow on hover */
}

.github-btn {
  display: inline-block;
  margin-left: 20px;
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  text-decoration: none;
  background: linear-gradient(
    135deg,
    #cd2d62,
    #f7ff0db7,
    #054d2a,
    #fa0ef2
  ); /* Cotton candy gradient */
  background-size: 300% 300%; /* Creates a smooth animated gradient */
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Subtle shadow */
  animation: gradientShift 10s ease infinite; /* Smooth gradient animation */
  border-radius: 25px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Subtle shadow */
  text-align: center;
  border: 2px white solid;
}

.github-btn:hover {
  transform: scale(1.1); /* Slightly enlarges on hover */
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3); /* Enhanced shadow on hover */
}

/* Responsive Styling for Mobile */
@media (max-width: 768px) {
  .portfolio-container {
    flex-direction: column; /* Stack image and description vertically */
    padding: 20px; /* Reduce padding for smaller screens */
    gap: 20px; /* Smaller gap */
  }

  .portfolio-picture {
    align-items: center; /* Center-align image */
    padding: 10px; /* Reduce padding */
  }

  .profile-image {
    width: 300px; /* Smaller image size */
    height: 300px;
  }

  .portfolio-description {
    font-size: 1rem; /* Adjust font size */
    max-width: 100%; /* Ensure text fits the screen */
    text-align: center; /* Center text for mobile */
  }

  .portfolio-heading {
    font-size: 2.5rem; /* Adjust heading size */
    text-align: center; /* Center-align heading */
  }

  .resume-button {
    font-size: 1rem; /* Adjust button font size */
    padding: 8px 16px; /* Reduce padding */
  }
}

/* Experience Section */
.experience-container {
  padding: 20px;
  background-color: #1e272e;
  border: 2px white solid;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  max-width: 1200px;
  margin: 20px auto;
}

.experience-heading {
  font-size: 2.5rem;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  margin-bottom: 20px;
  text-shadow: 7px 7px 5px rgba(130, 123, 123, 0.5); /* Horizontal offset, vertical offset, blur radius, color */
}

.experience-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 20px;
  text-align: center;
}

/* Flip Card */
.flip-card {
  perspective: 1000px; /* Enable 3D flip effect */
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 350px;
  transform-style: preserve-3d; /* Ensure smooth flipping */
  transition: transform 0.6s ease-in-out; /* Smooth and clean transition */
  border-radius: 10px;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg); /* Flip on hover */
}

.front-icon-img {
  width: 60px; /* Adjust size as needed */
  height: auto;
  margin-bottom: 10px;
  border-radius: 8px; /* Add rounded corners if desired */
}

/* Front and Back Sides */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden; /* Hide the back side when not visible */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: inset 0 0 0 2px white; /* Clean outline */
  text-align: center;
  color: #fff;
}

/* Front Side */
.flip-card-front {
  z-index: 2;
}

/* Back Side */
.flip-card-back {
  transform: rotateY(180deg); /* Back is rotated */
}

/* Content Styling */
.experience-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.experience-company,
.experience-description,
.experience-duration,
.experience-back-description {
  font-size: 1rem;
}

/* Back Card Description Bullets */
.flip-card-back ul {
  list-style: disc;
  padding: 10px 20px;
  text-align: left; /* Align bullets to the left */
  margin: 0; /* Reset margin for consistent spacing */
}

.flip-card-back li {
  margin: 10px;
  font-size: 1rem;
}

/* Front Card Icon Styling */
.flip-card-front .front-icon {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

/* Projects Section */
.projects-section {
  padding: 20px;
  background-color: #1e272e;
  border: 2px white solid;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  max-width: 1200px;
  margin: 20px auto;
}

.projects-heading {
  font-size: 2.5rem;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  margin-bottom: 20px;
  text-shadow: 7px 7px 5px rgba(130, 123, 123, 0.5); /* Horizontal offset, vertical offset, blur radius, color */
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 20px;
  justify-items: center;
}

.project-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle card shadow */
  padding: 20px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease;
  color: white;
  border: 2px white solid;
}

.project-card:hover {
  transform: translateY(-12px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  animation: glow 10s linear infinite;
}

.project-image {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 15px;
  border: 2px white solid;
}

.project-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: #fcfcfc;
  text-shadow: 7px 7px 5px rgba(130, 123, 123, 0.5); /* Horizontal offset, vertical offset, blur radius, color */
}

.project-description {
  font-size: 1rem;
  color: #ffffff;
  line-height: 1.5;
  margin-bottom: auto;
}

.project-link {
  align-self: flex-start;
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin-top: 15px;
  padding: 10px 20px;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  font-style: normal;
  background-color: rgba(16, 16, 16, 0.9); /* Initial background color */
  transition: color 0.3s ease, background-color 0.3s ease;
  border: 3px white solid;
}

.project-link:hover {
  background-color: rgba(16, 16, 16, 0);
  font-style: italic;
  color: #fff;
}

.project-link::before {
  content: ""; /* Create a pseudo-element for the hover effect */
  position: absolute;
  top: 0;
  left: -100%; /* Start animation from outside the element */
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent,
    #ff9a9e,
    #faaf9a,
    #d743ad,
    #530df7
  );
  z-index: -1; /* Ensure it is behind the text */
  transition: none; /* Prevent unwanted transitions */
}

.project-link:hover::before {
  animation: swipe 1.5s linear infinite; /* Swipe animation with faster speed */
}

@keyframes swipe {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}

/* Contact Me Page */

.contact-section {
  padding: 20px;
  background-color: #1e272e;
  border: 2px white solid;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  max-width: 1200px;
  margin: 20px auto;
  text-align: center;
}

.contact-heading {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 40px;
  color: #ffffff;
  text-shadow: 7px 7px 5px rgba(130, 123, 123, 0.5); /* Horizontal offset, vertical offset, blur radius, color */
}

.contact-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  overflow: hidden; /* Hide any overflow content */
  flex-wrap: wrap;
  padding-top: 10px;
  padding-bottom: 10px;
}

.contact-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 125px;
  text-align: center;
  padding: 10px;
  padding-top: 30px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.contact-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  animation: glow 10s linear infinite;
}

.contact-link {
  text-decoration: none;
  color: #333333;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-icon {
  font-size: 2.5rem;
  color: #007bff;
  margin-bottom: 10px;
  transition: transform 0.5s ease, color 0.5s ease;
}

.contact-icon:hover {
  transform: rotate(360deg);
  color: #0056b3;
}

.contact-name {
  font-size: 1rem;
  font-weight: 600;
}

@keyframes blurEffect {
  0% {
    filter: blur(0);
    opacity: 1;
  }
  25% {
    filter: blur(calc(var(--blur-max) * 0.5));
    opacity: 0.75;
  }
  50% {
    filter: blur(var(--blur-max));
    opacity: 0.5;
  }
  75% {
    filter: blur(var(--blur-max));
    opacity: 0.25;
  }
  100% {
    filter: blur(var(--blur-max));
    opacity: 0.1;
  }
}

/* Add gradient animation */
@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes glow {
  0% {
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.8); /* Red glow */
  }
  25% {
    box-shadow: 0 0 10px rgba(0, 255, 0, 0.8); /* Green glow */
  }
  50% {
    box-shadow: 0 0 10px rgba(0, 0, 255, 0.8); /* Blue glow */
  }
  75% {
    box-shadow: 0 0 10px rgba(255, 255, 0, 0.8); /* Yellow glow */
  }
  100% {
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.8); /* Back to Red */
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
